<!DOCTYPE html>
{% load thumbnail %}

<article class="card bg-light mb-3" style="padding: 20px">
  <ul class="list-group">
    <li style="list-style-type: none; margin: 5px 0 15px">
      {% if post.author.get_full_name %}
        {{ post.author.get_full_name }}
      {% else %}
        @{{ post.author.username }}
      {% endif %}

      <a href="{% url 'posts:profile' post.author.username %}" style="margin: 0 20px">
        <button type="button" class="btn btn-outline-secondary btn-sm">
          все посты пользователя
        </button>
      </a>
    </li>
    <li style="list-style-type: none;">
      <pre style="white-space: pre-wrap;">Дата публикации: {{ post.pub_date|date:"d E Y" }}</pre>
    </li>
  </ul>
  <div>
    <div class="card-body">
      {# Из post_detail перенесено сюда. Для превью на главной. #}
      {% thumbnail post.image "660x259" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <pre style="margin: 0; white-space: pre-wrap;">{{ post.text }}</pre>
    </div>
  </div>
  <div class="btn-bar">
    <a href="{% url 'posts:post_detail' post.id %}" type="button" class="btn btn-primary">
      подробная информация
    </a>

    {% if post.group %}
      <a href="{% url 'posts:group_posts'  post.group.slug %}" type="button" class="btn btn-outline-primary">
        все записи группы
      </a>
    {% endif %}
  </div>
</article>

{# под последним постом нет линии #}
{% if not forloop.last %}
  <hr>
{% endif %}
