<!DOCTYPE html> <!-- Используется html 5 версии -->
{% extends 'base.html' %}
{% block content %}
Посты сообщества
<div class="container">
    <h1>{{group.title}}</h1>
    <p>{{group.description}}}</p>
    <article>
        {% for post in posts %}
        <ul>
            <li>Автор: {{ post.author.get_full_name }}</li>
            <li>Дата публикации: {{ post.pub_date|date:"d M Y" }}</li>
        </ul>
        <p>{{ post.text }}</p>
        {% endfor %}
    </article>
</div>
<!-- под последним постом нет линии -->
{% if not forloop.last %}
<hr>{% endif %}
{% endblock %}
