<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
  Профайл пользователя {{ author.username }}
{% endblock %}

{% block content %}
  <div class="mb-5">
    <h1>Все посты пользователя {{ user.username }}</h1>
    <div style="padding: 30px 0 0">
      <h4 class="d-inline p-2">Всего постов: {{ user.posts.count }}</h4>
      {% if following %}
        <a class="d-inline p-2 btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a class="d-inline p-2 btn btn-lg btn-primary"
           href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    </div>
  </div>


  {% for post in page_obj %}
    {% include 'includes/article.html' %}
  {% endfor %}

  {% include 'posts/paginator.html' %}

{% endblock %}
