<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
  Профайл пользователя {{ author.username }}
{% endblock %}

{% block content %}
  <div class="mb-5">
    <h2>Все посты пользователя {{ author.username }}&nbsp;&nbsp;&nbsp;
      {% if following %}
        <a class="d-inline p-2 btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a class="d-inline p-2 btn btn-lg btn-primary"
           href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    </h2>
    <h5>Всего постов: {{ author.posts.count }}</h5>
  </div>


  {% for post in page_obj %}
    {% include 'includes/article.html' %}
  {% endfor %}

  {% include 'posts/paginator.html' %}

{% endblock %}
